<hr>
    <div class="article">
         <!-- article #1 title -->
        <h1 id="title">The Value of Money</h1>
         <!-- article #1 photo -->
         <img src="./img/article-1-img.jpg" alt="Photo of eye looking through a newspaper"> 
        <!-- article #1 subtitle -->
        <h3>Meaning, Measurement and Preparation of Index Numbers</h3>
        <!-- article #1 content -->
        <p>The value of money is the quantity of goods in general that will be exchanged for one unit of money. The value of money is its purchasing power, i.e., the quantity of goods and services it can purchase. What money can buy depends on the level of prices. When the price level rises, a unit of money can purchase less goods than before. Money is then said to have depreciated. Conversely, a fall in prices signifies that a unit of money can buy more than before.</p>
        <br>
        <p>Money is then said to appreciate. The “general level of prices” and the value of money are thus the same thing from two opposite angles. When the prices rise the value of money falls and vice versa. In other words, the value of money and the general price level are inversely proportion¬s’ to each other. Violent changes in the value of money (or the price level) disturb economic life and do great harm. We must, therefore, carefully study the factors which’ determine the value of money. </p>
        <!-- article #1 source -->
        <em>via: economicsdiscussion.net</em>
        
    </div>
<hr>
    <div class="article">
    <!-- article #2 title -->
    <h1 id="title">GMO food</h1>
    <!-- article #2 photo -->
    <img src="./img/article-2-img.jpg" alt="Photo of a stack of money">
    <!-- article #2 subtitle --> 
    <h3>Science and History of GMOs</h3>
    <!-- article #2 content --> 
    <p>“GMO” (genetically modified organism) has become the common term consumers and popular media use to describe foods that have been created through genetic engineering. To produce a GMO plant, scientists first identify what trait they want that plant to have, such as resistance to drought, herbicides, or insects. Then, they find an organism (plant, animal, or microorganism) that already has that trait within its genes.</p>
    <br>
    <p>Next, scientists use tools to insert the gene into the DNA of the plant. By inserting the Bt gene into the DNA of the corn plant, scientists gave it the insect resistance trait. In the laboratory, scientists grow the new corn plant to ensure it has adopted the desired trait (insect resistance). If successful, scientists first grow and monitor the new corn plant (now called Bt corn because it contains a gene from Bacillus thuringiensis) in greenhouses and then in small field tests before moving it into larger field tests. GMO plants go through in-depth review and tests before they are ready to be sold to farmers.</p>
    <!-- article #2 source --> 
    <em>via: fda.gov</em>

    </div>
<hr>
    <div class="article">
        <!-- article #3 title -->
        <h1 id="title"> The View of World in 2100</h1>
        <!-- article #3 photo -->
        <img src="./img/article-3-img.jpg" alt="Photo of fresh vegetables" >
        <!-- article #3 subtitle -->
        <h3>A Look to the Future</h3>
        <!-- article #3 content -->
        <p>As humanity nears the end of the 2010s, signs that our planet is irrevocably changing can be found everywhere. In the last year alone, ocean temperatures broke records, Antarctic melting reached unprecedented rates, and extreme weather swept through the US, Europe, and the Arctic. </p>
        <br>
        <p>Accelerated planet-wide warming has been linked to more species extinctions, an increased number of annual heat-waves, and more frequent natural disasters like wildfires and hurricanes. According to the most recent report from the United Nations' International Panel on Climate Change (IPCC), global temperatures will likely rise to 1.5 degrees Celsius above pre-industrial levels between 2030 and 2052 if warming continues at the current rate. Staying under that threshold was the optimistic goal set in the Paris climate agreement.</p>
        <!-- article #3 source -->
        <em>via: Businessinsider.com</em> 
    </div>
<hr>
