<hr>
    <div class="portfolio">
        <h1 id="title">Top Stories of News Blog</h1>
        <!-- card #1 -->
        <figure>
            <img src="./img/img1.jpg" id="card">
            <figcaption>2021: Most Popualar News Blogs</figcaption>
        </figure>
        <!-- card #2 -->
        <figure>
            <img src="./img/img3.jpg" id="card-alt">
            <figcaption>2019: Most Popualar News Blogs </figcaption>
        </figure>
        <!-- card #3 -->
        <figure>
            <img src="./img/img5.jpg" id="card-alt">
            <figcaption>2017: Most Popualar News Blogs</figcaption>
        </figure>
        <!-- card #4 -->
        <figure>
            <img src="./img/img6.jpg" id="card">
            <figcaption>2016: Most Popualar News Blogs</figcaption>
        </figure>
        <!-- card #5 -->
        <figure>
            <img src="./img/img2.jpg" id="card-alt">
            <figcaption>2016: Most Popualar News Blogs</figcaption>
        </figure>
        <!-- card #6 -->
        <figure>
            <img src="./img/img4.jpg" id="card-alt">
            <figcaption>2016: Most Popualar News Blogs</figcaption>
        </figure>
    </div>
<hr>
